/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --font-family: 'Orbitron', serif;
  --color-win: #1d3766;
  --background-win: linear-gradient(to top, #cb3a27 13%, #ff9933 38%);
  --font-family-win: 'Orbitron', serif;
  --font-size-win: 25px;
  --color-lose: #ca2326;
  --background-lose: linear-gradient(to top, #ff9933 13%, #cb3a27 38%);
  --font-family-lose: 'Orbitron', serif;
  --font-color-lose: black;
  --font-size-lose: 25px;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #ffffff;
  --color-keys: #37474F;
  --color-keys-light: #ffffff;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Orbitron', serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background: linear-gradient(to top, #1d3362 0%, #d8f0fc 100%); /*https://www.w3schools.com/colors/colors_gradient.asp*/
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Orbitron', serif;
  font-size: 75px;
  font-style: italic;
  background: #CA2128;
  background: -webkit-linear-gradient(to bottom, #CA2128 25%, #FEE624 65%); /*https://www.cssportal.com/css-text-gradient-generator/*/
  background: -moz-linear-gradient(to bottom, #CA2128 25%, #FEE624 65%);
  background: linear-gradient(to bottom, #CA2128 25%, #FEE624 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #091c3d; /*https://css-tricks.com/adding-stroke-to-web-text/*/
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-family: 'Rubik', serif;
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#game-over-message {
  font-family: var(--font-family);
}

#btn__reset {
  font-family: 'Rubik', serif;
  color: white;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to top, #cb3a27 13%, #ff9933 38%); /*https://www.w3schools.com/colors/colors_gradient.asp*/
}

#btn__reset:hover {
  transform: rotate(360deg);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  color: #ce2f22;
  background: #CA2128;
  background: -webkit-linear-gradient(to bottom, #CA2128 25%, #FEE624 65%); /*https://www.cssportal.com/css-text-gradient-generator/*/
  background: -moz-linear-gradient(to bottom, #CA2128 25%, #FEE624 65%);
  background: linear-gradient(to bottom, #CA2128 25%, #FEE624 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #091c3d; /*https://css-tricks.com/adding-stroke-to-web-text/*/
}


/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 15px;
}



.show {
  color: #fff;
  background-color: #090a0d;
  font-size: 20px;
  height: 65px;
  width: 65px;
  text-transform: uppercase;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}


/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #0f2145;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #c34129;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.start {
  background: linear-gradient(to top, #1d3362 0%, #d8f0fc 100%); /*https://www.w3schools.com/colors/colors_gradient.asp*/
}

.start a {
  color: #fff;
}

.win {
  background: var(--background-win);
  font: var(--font-family-win);
  font-size: var(--font-size-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background: var(--background-lose);
  font: var(--font-family-lost);
  font-size: var(--font-size-lose);
  color: var(--font-color-lose);
}

.lose a {
  color: var(--color-lose);
}